/* main.css */

/* Inject Tailwind's base styles */
@tailwind base;

/* Inject Tailwind's component styles */
@tailwind components;

/* Inject Tailwind's utility classes */
@tailwind utilities;

/* Now you can use @layer or customizations */
@layer base {
  body {
    @apply bg-dracula-base-bg text-dracula-base-text font-mono;
  }
}
